@import "null.css";
@import "preloader.css";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display:wght@400;700&display=swap");
/*
font-family: 'Playfair Display', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Post No Bills Jaffna', sans-serif;
*/
@font-face {
  font-family: "Post No Bills Jaffna";
  font-style: normal;
  font-weight: 700;
  src: local("Post No Bills Jaffna"), url("../fonts/PostNoBillsJaffna-Bold.woff") format("woff");
}
body {
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  color: #FFFFFF;
  max-width: 100vw;
  overflow-x: hidden;
}

._content {
  max-width: 1095px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  position: relative;
  z-index: 2;
  height: 100vh;
}
header .header-top {
  padding: 1rem 0;
  background: #000000;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}
header .header-top .header-top-flex {
  display: flex;
  justify-content: space-between;
}
header .header-top .header-top-flex .header-contact {
  display: flex;
}
header .header-top .header-top-flex .header-contact img {
  padding-right: 1.1rem;
}
header .header-top .header-top-flex .header-contact div {
  padding-right: 0.71rem;
}
header .header-top .header-top-flex .header-contact a {
  transition: 0.1s;
}
header .header-top .header-top-flex .header-contact a:hover {
  transition: 0.1s;
  color: #D0D0D0;
  text-decoration: underline;
}
header .header-top .header-top-flex .header-contact a:active {
  transition: 0.1s;
  color: #FFFFFF;
}
header .header-top .header-top-flex .header-cab {
  display: flex;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */ /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
header .header-top .header-top-flex .header-cab img {
  padding-right: 1.35rem;
}
header .header-top .header-top-flex .header-cab span {
  transition: 0.1s;
}
header .header-top .header-top-flex .header-cab span:hover {
  transition: 0.1s;
  color: #D0D0D0;
  text-decoration: underline;
}
header .header-top .header-top-flex .header-cab span:active {
  transition: 0.1s;
  color: #FFFFFF;
  text-decoration: underline;
}
header .header-bottom {
  background: #0F0F0F;
}
header .header-bottom .header-bottom-flex {
  display: flex;
  justify-content: space-between;
}
header .header-bottom .header-bottom-flex .header-logo {
  align-self: center;
  font-family: "Post No Bills Jaffna", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  transition: 0.5s;
}
header .header-bottom .header-bottom-flex .header-logo:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
header .header-bottom .header-bottom-flex .header-logo:active {
  transform: scale(1);
  transition: 0.1s;
}
header .header-bottom .header-bottom-flex menu {
  display: flex;
  align-self: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */ /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
header .header-bottom .header-bottom-flex menu nav {
  display: flex;
  line-height: 18px;
  text-transform: uppercase;
  color: #969696;
}
header .header-bottom .header-bottom-flex menu nav div {
  padding: 31px 19px;
  transition: 0.2s;
}
header .header-bottom .header-bottom-flex menu nav div:hover {
  background: #1F1F1F;
  color: #D0D0D0;
  transition: 0.2s;
}
header .header-bottom .header-bottom-flex menu nav div:active {
  background: #3d3d3d;
  color: #FFFFFF;
  transition: 0.1s;
}
header .header-bottom .header-bottom-flex menu .menu-icons {
  display: flex;
}
header .header-bottom .header-bottom-flex menu .menu-icons div {
  align-self: center;
}
header .header-bottom .header-bottom-flex menu .menu-icons div img {
  width: 22px;
}
header .header-bottom .header-bottom-flex menu .menu-icons img {
  transition: 0.2s;
}
header .header-bottom .header-bottom-flex menu .menu-icons img:hover {
  transform: scale(1.3);
  transition: 0.2s;
}
header .header-bottom .header-bottom-flex menu .menu-icons img:active {
  transform: scale(1.1);
  transition: 0.1s;
}
header .header-bottom .header-bottom-flex menu .menu-icons .cart {
  padding-right: 45px;
  padding-left: 15px;
}

.main {
  position: absolute;
  top: 124px;
  left: 0;
  height: calc(100vh - 124px);
  width: 100vw;
  z-index: 3;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  /*.main-back:hover{
      transition: 0.7s;
      filter: brightness(1.20);
  }*/
}
.main .main-back {
  width: 100%;
  height: 100%;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url("../img/main-back.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .main-logo {
  padding: 94px 61px;
  border: 4px solid #FFFFFF;
  display: inline-block;
}
.main .main-logo h1 {
  font-family: "Post No Bills Jaffna";
  font-weight: 700;
  font-size: 64px;
  line-height: 65px;
  border-bottom: 2px solid #FFFFFF;
  display: inline-block;
}
.main .main-logo h2 {
  padding-top: 7px;
  font-size: 22px;
  line-height: 28px;
}
.main .main-text {
  margin-top: 80px;
  display: inline-block;
  width: 750px;
  font-size: 16px;
  line-height: 150%;
}

footer .footer-bottom {
  background: #0F0F0F;
  padding: 17px 0;
}
footer .footer-bottom .footer-bottom-flex {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0;
}
footer .footer-bottom .footer-bottom-flex a {
  transition: 0.1s;
}
footer .footer-bottom .footer-bottom-flex a:hover {
  transition: 0.1s;
  text-decoration: underline;
}
footer .footer-bottom .footer-bottom-flex a:active {
  transition: 0.1s;
  color: #FFFFFF;
}/*# sourceMappingURL=index.css.map */