@import "null.css";
@import "preloader.css";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display:wght@400;700&display=swap');
//@import url('http://fonts.cdnfonts.com/css/post-no-bills-jaffna');

/*
font-family: 'Playfair Display', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Post No Bills Jaffna', sans-serif;
*/

@font-face {
    font-family: 'Post No Bills Jaffna';
    font-style: normal;
    font-weight: 700;
    src: local('Post No Bills Jaffna'), url("../fonts/PostNoBillsJaffna-Bold.woff") format('woff');
}


body{
    font-family: 'PT Sans', sans-serif;
    line-height: 21px;
    color: #FFFFFF;
    //max-width: 100vw;
    //min-width: 1080px;
    overflow-x: hidden;
}

._content{
    max-width: 1095px;
    margin: 0 auto;
    padding: 0 15px;
}


header{
    position: relative;
    z-index: 2;
    height: 100vh;

    .header-top{
        padding: 1rem 0;

        background: #000000;

        font-size: 12px;
        line-height: 16px;
        color: #969696;

        .header-top-flex{
            display: flex;
            justify-content: space-between;

            .header-contact{
                display: flex;

                img{padding-right: 1.1rem;}

                div{padding-right: 0.71rem;}

                a{transition: 0.1s;}

                a:hover{
                    transition: 0.1s;
                    color: #D0D0D0;
                    text-decoration: underline;
                }

                a:active{
                    transition: 0.1s;
                    color: #FFFFFF;
                }
            }
    
            .header-cab{
                display: flex;

                img{padding-right: 1.35rem;}

                span{transition: 0.1s;}

                span:hover{
                    transition: 0.1s;
                    color: #D0D0D0;
                    text-decoration: underline;
                }

                span:active{
                    transition: 0.1s;
                    color: #FFFFFF;
                    text-decoration: underline;
                }

                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none;   /* Chrome/Safari/Opera */
                -khtml-user-select: none;    /* Konqueror */
                -moz-user-select: none;      /* Firefox */
                -ms-user-select: none;       /* Internet Explorer/Edge */
                user-select: none;
            }
        } 
    }
    
    .header-bottom{
        background-color: #0F0F0F;

        .header-bottom-flex{
            display: flex;
            justify-content: space-between;

            .header-logo{
                align-self: center;

                font-family: 'Post No Bills Jaffna', sans-serif;
                font-weight: 700;
                font-size: 36px;
                line-height: 54px;

                padding: 15px 0;

                transition: 0.5s;
            }

            .header-logo:hover{
                transform: scale(1.1);
                transition: 0.5s;
            }

            .header-logo:active{
                transform: scale(1);
                transition: 0.1s;
            }

            menu{
                display: flex;
                align-self: center;

                nav{
                    display: flex;
                    line-height: 18px;
                    text-transform: uppercase;
                    color: #969696;

                    div{
                        padding: 31px 19px;
                        transition: 0.2s;
                    }

                    div:hover{
                        background: #1F1F1F;
                        color: #D0D0D0;
                        transition: 0.2s;
                    }

                    div:active{
                        background: #3d3d3d;
                        color: #FFFFFF;
                        transition: 0.1s;
                    }
                }

                .menu-icons{
                    display: flex;

                    div{
                        align-self: center;

                        img{width: 100%;} 
                    }

                    img{transition: 0.2s;}

                    img:hover{
                        transform: scale(1.3);
                        transition: 0.2s;
                    }

                    img:active{
                        transform: scale(1.1);
                        transition: 0.1s;
                    }

                    .cart{
                        margin-right: 40%;
                        margin-left: 10%;
                    }
                }

                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none;   /* Chrome/Safari/Opera */
                -khtml-user-select: none;    /* Konqueror */
                -moz-user-select: none;      /* Firefox */
                -ms-user-select: none;       /* Internet Explorer/Edge */
                user-select: none;
            }
        }
    }
}

.main{
    position: absolute;
    top: 124px;
    left: 0;
    height: calc(100vh - 124px);
    width: 100%;
    z-index: 3;

    text-align: center;
    text-transform: uppercase;

    overflow: hidden;

    .main-back{
        width: 100%;
        height: 100%;
        padding-top: 8.5%;

        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url('../img/main-back.png');
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: cover;

        //transition: 0.7s;
    }

    /*.main-back:hover{
        transition: 0.7s;
        filter: brightness(1.20);
    }*/

    .main-logo{
        padding: 5% 3.3%;
        border: 4px solid #FFFFFF;
        display: inline-block;

        h1{
            font-family: 'Post No Bills Jaffna';
            font-weight: 700;
            font-size: 64px;
            line-height: 65px;

            border-bottom: 2px solid #FFFFFF;
            display: inline-block;
        }

        h2{
            padding-top: 4%;
            font-size: 22px;
            line-height: 28px;
        }
    }

    .main-text{
        margin-top: 4.3%;
        display: inline-block;
        width: 40%;

        font-size: 16px;
        line-height: 150%;
    }
}

.new-collection{
    width: 100%;
    display: flex;

    .season-2021{
        flex-basis: 54%;
        flex-grow: 1;

        background: #000000;
        text-align: center;

        h1{
            font-family: 'Playfair Display';
            font-weight: 700;
            font-size: 36px;
            line-height: 48px;
            text-transform: uppercase;

            padding-top: 9%;
        }

        .line{margin: 4.9% 0;}

        .new-collection-row{
            text-align: left;

            display: flex;
            justify-content: space-between;

            padding: 0 7.8%;

            .watch-card{
                flex-basis: 30%;

                .watch-back{
                    background: #191B1C;

                    padding-top: 10%;
                    padding-bottom: 15.5%;
                    text-align: center;

                    transition: 0.5s;

                    .watch-img{
                        width: 80%;
                        margin: 0 auto;

                        img{
                            width: 100%;
                        }
                    }
                }

                .watch-back:hover{
                    transition: 0.5s;
                    transform: scale(1.1);
                }

                .watch-back:active{
                    transition: 0.2s;
                    transform: scale(1.0);
                }

                h3{
                    font-family: 'Playfair Display';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;

                    margin-top: 10%;
                    margin-bottom: 4%;
                }

                span{
                    font-family: 'Playfair Display';
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 21px;
                    color: #D0D0D0;

                    display: inline-block;
                    padding-bottom: 37%;
                }
            }
        }
    }

    .catalog{
        background-image: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url('../img/catalog-back.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;

        transition: 0.5s;

        flex-basis: 46%;

        display: flex;
        align-items: flex-end;

        .catalog-flex{
            justify-content: center;
            flex-grow: 1;

            padding-top: 11%;
            margin-bottom: 11.5%;

            text-align: center;

            h1{
                font-family: 'Playfair Display';
                font-weight: 700;
                font-size: 36px;
                line-height: 48px;
                text-transform: uppercase;
            }
    
            .line{margin: 3.7% 0;}
    
            button{
                font-size: 18px;
                line-height: 23px;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;
    
                border: 1px solid #FFFFFF;
                padding: 1.3% 3%;
                
                background-color: rgba($color: #000000, $alpha: 0);

                transition: 0.2s;

                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none;   /* Chrome/Safari/Opera */
                -khtml-user-select: none;    /* Konqueror */
                -moz-user-select: none;      /* Firefox */
                -ms-user-select: none;       /* Internet Explorer/Edge */
                user-select: none;
            }

            button:hover{
                transition: 0.2s;
                background-color: rgba($color: #000000, $alpha: 0.5);
                transform: scale(1.05);
            }

            button:active{
                transition: 0.2s;
                background-color: rgba($color: #000000, $alpha: 0.9);
                transform: scale(0.97);
            }
        }
    }

    .catalog:hover{
        transition: 0.5s;
        filter: brightness(1.20);
    }

    .line{
        width: 120px;
        border-bottom: 1px solid #FFFFFF;

        display: inline-block;
    }
}

.collection-2018{
    display: flex;
    overflow: hidden;

    .collection-2018-back{
        flex-basis: 46%;

        background-image: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url('../img/collection-back.png');
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: cover;

        transition: 0.5s;
    }

    .collection-2018-back:hover{
        transition: 0.5s;
        filter: brightness(1.20);
    }

    .collection-2018-content{
        background: #000000;
        flex-basis: 54%;

        display: flex;
        justify-content: center;
        padding: 5% 0;

        .collection-2018-content-flex{
            text-align: center;
            align-items: center;

            h1{
                font-family: 'Playfair Display';
                font-size: 36px;
                line-height: 48px;
                text-transform: uppercase;
            }

            .line{
                display: inline-block;
                border-bottom: 1px solid #FFFFFF;
                margin: 3% 0;
                width: 120px;
            }

            p{
                margin: 0 auto;

                font-size: 14px;
                line-height: 150%;
                margin-bottom: 6%;
                width: 61%;
            }

            button{
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;

                padding: 1% 2.8%;   //!!!!!!!!!!!
                border: 1px solid #FFFFFF;

                background-color: rgba($color: #3d3d3d, $alpha: 0);

                transition: 0.2s;

                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none;   /* Chrome/Safari/Opera */
                -khtml-user-select: none;    /* Konqueror */
                -moz-user-select: none;      /* Firefox */
                -ms-user-select: none;       /* Internet Explorer/Edge */
                user-select: none;
            }

            button:hover{
                transition: 0.2s;
                background-color: rgba($color: #3d3d3d, $alpha: 0.5);
                transform: scale(1.05);
            }

            button:active{
                transition: 0.2s;
                background-color: rgba($color: #3d3d3d, $alpha: 0.9);
                transform: scale(0.97);
            }
        }
    }
}

.new-watchs{
    background: #000000;
    text-align: center;

    h1{
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        text-transform: uppercase;

        padding-top: 6.3%;
        margin-bottom: 2.1%;
    }

    .line{
        width: 120px;
        border-bottom: 1px solid #FFFFFF;
        display: inline-block;
    }

    .new-watchs-grid{
        display: grid;
        grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
        grid-template-rows: 55% 45%;
        justify-content: space-between;
        align-content: space-between;
        
        max-width: 1180px;
        margin: 4.2% auto 0;
        padding: 0 15px 7.5%;

        text-align: left;

        #watch-card7{
            .watch-back{
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        #watch-card8{

            .watch-back{
                background-image: linear-gradient(0deg, rgba(25, 27, 28, 0.5), rgba(25, 27, 28, 0.5)), url('../img/Jord-AR5905.png');
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;

                width: 100%;
                height: 89%; //!!!!!!!

                display: flex;
                justify-content: center;
                align-items: flex-end;
            }

            .watch-back:hover{
                filter:brightness(80%);
                //filter: blur(1px);
                transform: none;
            }

            button{
                font-family: 'Playfair Display';
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;

                padding: 7% 28px; //!!!!!!!
                border: 1px solid #FFFFFF;

                background-color: rgba($color: #000000, $alpha: 0);
                transition: 0.2s;

                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none;   /* Chrome/Safari/Opera */
                -khtml-user-select: none;    /* Konqueror */
                -moz-user-select: none;      /* Firefox */
                -ms-user-select: none;       /* Internet Explorer/Edge */
                user-select: none;
            }

            button:hover{
                transition: 0.2s;
                background-color: rgba($color: #000000, $alpha: 0.5);
                transform: scale(1.05);
            }

            button:active{
                transition: 0.2s;
                background-color: rgba($color: #000000, $alpha: 0.9);
                transform: scale(0.97);
            }
        }

        .watch-card{
            .watch-back{
                background: #191B1C;
    
                padding-top: 10%;
                padding-bottom: 13%;
                text-align: center;
    
                transition: 0.5s;

                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }
    
            .watch-back:hover{
                transition: 0.5s;
                transform: scale(1.1);
            }
    
            .watch-back:active{
                transition: 0.2s;
                transform: scale(1.0);
            }

            h3{
                font-family: 'Playfair Display';
                font-size: 18px;
                line-height: 24px;

                margin-top: 10%;
                margin-bottom: 4%;
            }

            span{
                font-family: 'Playfair Display';
                font-weight: 700;
                line-height: 21px;
                color: #D0D0D0;
            }
        }
    }
}

.information{
    text-align: center;
    background-color: #0F0F0F;

    h1{
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        text-transform: uppercase;

        padding-top: 3.3%;
    }

    .line{
        border-bottom: 1px solid #FFFFFF;
        width: 120px;
        display: inline-block;

        margin-top: 2%;
        margin-bottom: 3%;
    }

    .information-flex-column{
        display: flex;
        flex-direction: column;

        .information-flex-row{
            display: flex;

            margin-bottom: 1.6%;

            .information-img{
                flex-basis: 52%;
                transition: 0.5s;

                img{width: 100%;}
            }

            .information-img:hover{
                transition: 0.5s;
                filter: blur(2px);
                filter: brightness(75%)
            }

            .information-content{
                flex-basis: 48%;
                text-align: left;

                display: flex;
                justify-content: center;              

                .information-content-flex{
                    flex-basis: 69%;

                    h2{
                        font-size: 18px;
                        line-height: 23px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;

                        margin-top: 8.5%;
                    }
    
                    p{
                        line-height: 150%;
                        margin-top: 2.3%;
                        margin-bottom: 6%;
                    }
    
                    .content-bottom{
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
    
                        button{
                            font-size: 18px;
                            line-height: 23px;
                            text-align: center;
                            letter-spacing: 0.1em;
                            text-transform: uppercase;
                            color: #FFFFFF;
    
                            padding: 10% 35%;
                            border: 1px solid #FFFFFF;
    
                            background-color: rgba($color: #000000, $alpha: 0);
                            transition: 0.2s;

                            -webkit-touch-callout: none; /* iOS Safari */
                            -webkit-user-select: none;   /* Chrome/Safari/Opera */
                            -khtml-user-select: none;    /* Konqueror */
                            -moz-user-select: none;      /* Firefox */
                            -ms-user-select: none;       /* Internet Explorer/Edge */
                            user-select: none;
                        }
            
                        button:hover{
                            transition: 0.2s;
                            background-color: rgba($color: #3d3d3d, $alpha: 0.5);
                            transform: scale(1.05);
                        }
            
                        button:active{
                            transition: 0.2s;
                            background-color: rgba($color: #3d3d3d, $alpha: 0.9);
                            transform: scale(0.97);
                        }
        
                        span{
                            font-size: 18px;
                            line-height: 23px;
                            letter-spacing: 0.1em;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        .row3{
            margin-bottom: 0;
        }
    }
}

.partners{
    background: #0F0F0F;
    text-align: center;

    h1{
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;

        padding-top: 4.6%;
    }

    .line{
        width: 120px;
        height: 1px;
        border-top: 1px solid #FFFFFF;

        display: inline-block;

        margin-top: 2.4%;
    }

    .partners-icons-flex{
        margin: 0 14%;

        display: flex;
        justify-content: space-between;

        padding-top: 3.5%;
        padding-bottom: 6%;

        align-items: center;

        .partners-icons{
            img{
                width: 100%;
            }
        }

        .partners-icons:not(:last-child){
            margin-right: 1%;
        }
    }
}

footer{
    .footer-top{
        background-image: linear-gradient(0deg, rgba(15, 15, 15, 0.25), rgba(15, 15, 15, 0.25)), url("../img/footer-back.png");
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: cover;

        .footer-top-flex{
            display: flex;
            justify-content: space-between;

            padding-top: 7.6%;
            padding-bottom: 6.5%;

            div{
                flex-basis: 33.333%;
            }

            h2{
                font-family: 'Playfair Display';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
                text-transform: uppercase;

                padding-bottom: 13%;
            }

            p{
                line-height: 150%;
            }

            .column-categories{
                padding-left: 2%;

                button{
                    transition: 0.1s;

                    font-size: 14px;
                    line-height: 150%;
                    color: #D0D0D0;

                    background-color: #0F0F0F;
                    padding: 3% 6%;
                    margin-right: 2.5%;
                    margin-bottom: 6%;
                }

                button:hover{
                    transition: 0.1s;
                    background-color: #3d3d3d;
                    color: #FFFFFF;
                }
    
                button:active{
                    transition: 0.1s;
                    background-color: #969696;
                    color: #0F0F0F;
                }
            }

            .column-mailing{
                .mailing-subscribe{
                    display: flex;
                    width: 100%;

                    margin-top: 7%;

                    .text-area{
                        flex-basis: 60%;
                    }
                    
                    input{
                        width: 100%;
                        //height: 42px;
                        padding: 10px;

                        background-color: rgba(255, 255, 255, 0.4);
                        font-size: 16px;
                        color: #D0D0D0;
                    }

                    input::placeholder{
                        font-size: 14px;
                        line-height: 150%;
                        color: #D0D0D0;
                    }

                    button{
                        padding: 10px 20px;
                        height: 100%;
                        background-color: #0F0F0F;

                        line-height: 150%;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;

                        transition: 0.2s;
                    }

                    button:hover{
                        transition: 0.2s;
                        background-color: #3d3d3d;
                    }
        
                    button:active{
                        transition: 0.2s;
                        background-color: #969696;
                        color: #0F0F0F;
                    }
                }
            }
        }
    }

    .footer-bottom{
        background: #0F0F0F;
        padding: 0.8% 0;

        .footer-bottom-flex{
            display: flex;
            justify-content: space-between;

            font-size: 12px;
            line-height: 16px;
            color: #D0D0D0;

            a{transition: 0.1s;}

            a:hover{
                transition: 0.1s;
                text-decoration: underline;
            }

            a:active{
                transition: 0.1s;
                color: #FFFFFF;
            }
        } 
    }
}



@media (max-width: 1650px){
    .information{
        span{
            display: none;
        }
    }
}

@media (max-width: 1200px){
    .information{
        .information-content{
            .content-bottom{
                span{display: none;}
            }
        }
    }
}

@media (max-width: 992px){
    header{
        menu{
            //visibility: hidden;
            display: none;
            
            nav{
                display: none;
            }
    
            div{
                display: none;
            }
        }
    }

    .main{

        .main-logo{
            h1{font-size: 54px;}
            h2{font-size: 18px;}
            margin-top: 5%;
        }

        .main-text{
            font-size: 14px;
            width: 80%;
            margin-top: 10%;
        }
    }

    .new-collection{
        flex-direction: column;
    }

    .collection-2018{
        flex-direction: column;
    }

    .new-watchs{
        .new-watchs-grid{
            grid-template-columns: 55% 45%;
            grid-template-rows: 22.5% 22.5% 22.5% 22.5%;

            .watch-card{
                margin-right: 2%;
                .watch-back{
                    width: 90%;
                    height: 85%;
                }
            }

            #watch-card8{

                .watch-back{
                    width: 100%;
                    height: 85%; //!!!!!!!
    
                }
            }
        }
    }

    .information{
        h1{font-size: 28px;}

        .information-flex-row{
            flex-direction: column;

            .information-content{
                order: 1;
                margin-bottom: 3%;
            }

            .information-img{order: 2;}
        }
    }

    .partners{
        h1{font-size: 28px;}

        .partners-icons-flex{
            margin: 0 3%;
        }
    }

    footer{
        .footer-top{
            .footer-top-flex{
                flex-direction: column;

                h2{
                    text-align: center;
                    padding-bottom: 5%;

                    font-size: 20px;
                }

                p{font-size: 12px;}

                .column-categories{
                    margin-top: 5%;
                }

                .mailing-subscribe{
                    .text-area{
                        text-align: right;

                        input{
                            width: 50%;
                        }
                    }

                    .mailing-subscribe{
                        display: flex;
                        width: 100%;
    
                        margin-top: 7%;
    
                        .text-area{
                            flex-basis: 60%;
                        }
                        
                        input{font-size: 14px;}
    
                        input::placeholder{font-size: 12px;}
                    }
                }
            }
        }

        .footer-bottom{padding: 2% 0;}
    }
}

@media (max-width: 768px){
    .new-collection{
        .season-2021, .catalog .catalog-flex{
            h1{font-size: 28px;}
        }

        .season-2021 .new-collection-row .watch-card{
            h3{font-size: 16px;}
            span{font-size: 14px;}
        }
    }

    .collection-2018{
        .collection-2018-content .collection-2018-content-flex{
            h1{font-size: 28px;}
            p{font-size: 12px;}

            a button{font-size: 14px;}
        }
    }

    .new-watchs{
        h1{font-size: 24px;}

        .new-watchs-grid{
            grid-template-columns: 55% 45%;
            grid-template-rows: 22.5% 22.5% 22.5% 22.5%;

            .watch-card{
                margin-right: 2%;
                .watch-back{
                    width: 90%;
                    height: 70%;
                }

                h3{font-size: 16px;}
                span{font-size: 14px;}
            }

            #watch-card8{

                .watch-back{
                    width: 100%;
                    height: 70%; //!!!!!!!
    
                }
            }
        }
    }
}

@media (max-width: 560px){
    .main{
        .main-text{
            font-size: 12px;
            width: 90%;
            margin-top: 25%;
        }
    }

    .new-collection{
        .season-2021 .new-collection-row .watch-card{
            h3{font-size: 14px;}
            span{font-size: 12px;}
        }
    }

    .new-watchs{
        .new-watchs-grid{
            .watch-card{
                h3{font-size: 14px;}
                span{font-size: 12px;}
            }

            #watch-card8 .watch-back a{
                button{
                    padding: 5% 14px;
                    font-size: 14px;
                }
            }
        }
        
    }

    .information{
        h1{font-size: 20px;}

        .information-flex-column .information-flex-row .information-content{
            .information-content-flex{
                flex-basis: 90%;
                h2{font-size: 16px;}
                p{font-size: 14px;}
    
                .content-bottom a{
                        button{font-size: 14px;}
                }
                
            }
        }        
    }

    .partners{
        .partners-icons-flex{
            flex-wrap: wrap;

            .partners-icons{
                flex-basis: 45%;
            }
        }
    }

    footer{
        .footer-bottom{
            div{font-size: 10px;}
        }
    }
}